.git
.gitignore

# .docker

filmjunkiez/__pycache__/
filmjunkiez/*/__pycache__/
filmjunkiez/*/*/__pycache__/
filmjunkiez/*/*/*/__pycache__/
# .env/
# .venv/
# venv/

# data/

node_modules
__pycache__
*.pyc