.gitignore
.dockerignore
# Ignore dependencies
/node_modules
static/img/film_videos/103bf708-d16b-4c83-b151-b93164a12300_AEtfsYD.mov
/log
/static/img/film_videos/103bf708-d16b-4c83-b151-b93164a12300_AEtfsYD.mov
media/film_img/
media/film_videos/
staticfiles/img/film_img/
staticfiles/img/film_videos/
staticfiles/img/default_3ga9ZAf.jpg
staticfiles/img/default_C1QpIqd_hgajgHl.jpg
staticfiles/img/default_C1QpIqd.jpg
staticfiles/img/default_cdJ4nY2.jpg
staticfiles/img/default_cZvB8Vy.jpg
staticfiles/img/default_lxdyWZe.jpg
staticfiles/img/default_OrPiq3g.jpg
staticfiles/img/default_rFsFALv.jpg
staticfiles/img/default_RtwDmrC.jpg
staticfiles/img/default_sDoRqME.jpg
staticfiles/img/default_xJhYjwd.jpg
staticfiles/img/default.jpg
staticfiles/img/IMG_6391_E1tQcnA.jpg
staticfiles/img/knowledge.jpg
staticfiles/img/pexels-jennifer-enujiugha-1125328.jpg
staticfiles/img/video.jpg

#staticfiles/cloudinary

staticfiles/img/default_3ga9ZAf.jpg

/.env
.env
/.enves
.enves/
.enves
media/
media

/print_db_params.py
/.pytest_cache
__pycache__/
/var
var/
read_credentials.py/
/read_credentials.py
read_credentials.py
credentials.json
filmjunkiez-gcs-credentials.json/
filmjunkiez-gcs-credentials.json
dropbox_storage.py
dropbox_storage.py/
/dropbox_storage.py

# Work on these later/ accidental commits
echo "static" >> .gitignore
echo "media" >> .gitignore
echo "staticfiles" >> .gitignore
echo "print_db_params.py" >> .gitignore

*.sqlite3
*.sqlite
db.sqlite3
print_db_params.py

dropbox_storage.py
dropbox_storage.py/
get_dropbox_refresh_token.py
csrf_token.py
gcloud.py
print_db_params.py
print_db_params.py/
/print_db_params.py
logging.yml
logs/
logs