<body> 
    <div class="announcement-bar-container">
        <div class="announcement-bar">
          <div class="announcement">Wellcome to Film Junkiez App!</div>
          <div class="announcement">To become a Film Host: contact us via the contact on the Website menu.</div>
          <div class="announcement">Film Upload: this application is still undergoing developmet, video size is therefore limited to 10MB.</div>
          <div class="announcement">Have fun using your favorite film streaming and evaluation app!</div>
        </div>
    </div>
      
</body> 
