<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha384-xxxxxxxxxx" crossorigin="anonymous">-->
    <title>Film Junkiez - Find, Review Your Favorite Films!</title>
  </head>

  <body>
  
    {% include "base/navbar.html" %}
     
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
   <script src="{% static 'js/script.js' %}"></script>
  </body>
  {% if request.user.is_authenticated %}
  {% include "base/announcement.html" %}
  {% endif %}
</html>
