{% extends "base/main.html" %}
{% load static %}
{% block content %}

<main class="profile-page layout layout--3">
  <div class="container">
    {% include 'base/categories_component.html' %}
    <div class="filmList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{ user.get_avatar_url }}"/>
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          <p>@{{user.username}}</p>
          {% if request.user == user %}
          <a href="{% url 'modify-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
          <a href="{% url 'follow-page' %}" class="btn btn--main btn--pill">
          {% if request.user == user %}
            Follow Page
          {% elif user_follows %}
            Following
          {% else %}
            Follow
          {% endif %}
          </a>
        </div>

        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
      </div>
      <div class="filmList__header">
        <div>
          <h2>Film Discourses Hosted by {{user.username}}</a>
          </h2>
        </div>
      </div>
      {% include 'base/feed_component.html' %}
    </div>
   
    {% include 'base/activity_component.html' %}
  
  </div>
</main>
{% endblock content %}
